<h1>Listing customers</h1>


<% count = 0 %>
<% @customers.each do |customer| %>


  <%= content_tag :div, :id=> index_row_div_id(customer) do %>
    <div class='<%= count % 2 == 0 ? "even" : "odd" %>' >
        <i id="<%= index_row_toggle_id(customer) %>"
              class="icon-plus-sign" 
              data-toggle="collapse" 
              data-target="#<%= index_row_detail_div_id(customer) %>" >
        </i>   
        <span class='index_cell'><%= customer.id %></span>
        <span class='index_cell'><%= customer.name %></span>
        <span class='index_cell'><%= customer.phone %></span>
        <span class='index_cell'><%= customer.contact %></span>
        <span class='index_cell'><%= link_to 'Show', customer %></span>
        <span class='index_cell'>
          <%= link_to 'Edit', edit_customer_path(customer) %>
        </span>
        <span class='index_cell'><%= link_to 'Destroy', customer, method: :delete, 
                    :remote=> true, 
                    :format => :js, 
                    data: { confirm: 'Are you sure?' } %></span>    
    </div>
    <% count += 1 %>
  <% end -%>
  <%= content_tag :div  , 
                  :id => index_row_detail_div_id(customer), 
                  :class=>"collapse"  do %>
    <%= render :partial =>"orders/for_customer", :locals => { :customer => customer } %>
  <% end -%>
<% end %>
<script>
   
    $('.collapse').on('hidden', function (e) {     
      var id = '#'+e.target.id.replace(/_detail$/, <%= "'#{detail_suffix}'" %>);
      $(id).attr('class', 'icon-plus-sign');
    
    });
    $('.collapse').on('shown', function (e) { 
      var id = '#'+e.target.id.replace(/_detail$/, <%= "'#{toggle_suffix}'" %>;
      $(id).attr('class', 'icon-minus-sign');
    
    });
</script> 

<br />

<%= link_to 'New Customer', new_customer_path %>
