<h1>Order for <%= @customer.name %> </h1>
<%= form_for([@customer, @order]) do |f| %>
<%= f.hidden_field :customer_id, :value=>@customer.id  %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
   <div class="field">
    <%= f.label :total %><br />
    <%= f.number_field :total %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.collection_select   :item_id, Item.all, :id, :name %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
